/**
 * Layouts
 *
 */

#root {
  position: fixed;
  left: 0;
  top: 0;
}
.Container {
  position: fixed;
  top: 0;
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  .MainColumn {
    transition: 0.5s ease all;
  }
  &.is-mode-landing {
    min-height: 100vh;
    padding: $margin_medium 0;
    overflow-y: auto;
    .MainColumn {
      width: $layout_one_column_width;
      max-width: calc(100vw - $margin_medium * 2);
    }

    .Footer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: $margin_medium calc((100vw - $layout_one_column_width) / 2);
      box-sizing: border-box;
    }
  }

  &.is-mode-annotation {
    justify-content: stretch;
    .Railway,
    .TagsColumn {
      position: absolute;
      height: calc(100% - $margin_medium * 2);
      top: $margin_medium;
      box-sizing: border-box;
    }
    .Railway {
      left: $margin_medium;
    }
    .TagsColumn {
      right: $margin_medium;
    }

    .MainColumn {
      width: $layout_annotation_width;
      margin-left: calc((100% - $layout_annotation_width) / 2);
      max-width: calc(100vw - $margin_medium * 2);
      display: flex;
      flex-flow: column nowrap;
      justify-content: stretch;
      height: 100%;
      padding: $margin_medium 0;
      box-sizing: border-box;
      .MediaPreview {
        flex: 1;
      }
    }
  }
}
