body, html {

  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  // overflow: hidden;
  font-weight: bold;
  font-family: sans-serif;
}
#waitingList {
  text-align: center;
  height: 60vh;
  // padding: 1vh;
  overflow-y: scroll;
}
.curated {
  background: gold;
  text-align: center;
  width: 50vw;
  height: 40vh;
  position: absolute;
  bottom: 0;
  overflow-y: scroll;
}

#out { right: 0; background: tomato;}
#in  { left: 0;  background: springgreen;}

#filepicker {
  position: absolute;
  z-index: 2000;

  top: 15vh;
  left: calc(25vw - 4vh);
  width: 50vw;
  height: 20vh;
  background-color: royalblue;

  text-align: center;
  padding: 4vh;

}
